.signin.hidden,
.signup.hidden,
.signout {
  display: none;
}

.signin,
.signup,
.signout.show {
  display: inline-block;
}

a.selected {
  color: grey;
  font-weight: bold;
}

.form-msg-error {
	display: none;
	margin-top: .5rem;
	font-size: .825rem;
	color: red;
}
.form-msg-error.show {
	display: block;
}
